#copy-button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 99999;
	padding: 10px;
	color: white;
	border: none;
	cursor: pointer;
	background-color: red;
	transition: all;
	transition-duration: 0.3s;
}

#copy-button:hover {
	background-color: darkred;
}
